<a href="https://colab.research.google.com/github/mario-rot/Introduction-to-Human-Language-Technology/blob/main/Session2_MarioRosasOtero.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab session 2 (Document structure) - ILTH

**Student:** Mario Rosas Otero

## Paraphrases Template

In [1]:
%%shell
git clone https://github.com/mario-rot/Introduction-to-Human-Language-Technology.git
cd 'Introduction-to-Human-Language-Technology'
mv 'Complementary Material' /content/

Cloning into 'Introduction-to-Human-Language-Technology'...
remote: Enumerating objects: 843, done.
remote: Counting objects: 100% (843/843), done.
remote: Compressing objects: 100% (771/771), done.
remote: Total 843 (delta 103), reused 788 (delta 67), pack-reused 0
Receiving objects: 100% (843/843), 2.25 MiB | 21.72 MiB/s, done.
Resolving deltas: 100% (103/103), done.

In [5]:
import pandas as pd

In [6]:
dt = pd.read_csv('Complementary Material/test-gold/STS.input.SMTeuroparl.txt',sep='\t',header=None)

In [7]:
dt.head()

,0,1
0,The leaders have now been given a new chance a...,The leaders benefit aujourd' hui of a new luck...
1,Amendment No 7 proposes certain changes in the...,Amendment No 7 is proposing certain changes in...
2,Let me remind you that our allies include ferv...,I would like to remind you that among our alli...
3,The vote will take place today at 5.30 p.m.,The vote will take place at 5.30pm
4,"The fishermen are inactive, tired and disappoi...","The fishermen are inactive, tired and disappoi..."

In [8]:
dt['gs'] = pd.read_csv('Complementary Material/test-gold/STS.gs.SMTeuroparl.txt',sep='\t',header=None)

In [9]:
dt.shape

(459, 3)

In [10]:
dt.head()

,0,1,gs
0,The leaders have now been given a new chance a...,The leaders benefit aujourd' hui of a new luck...,4.50
1,Amendment No 7 proposes certain changes in the...,Amendment No 7 is proposing certain changes in...,5.00
2,Let me remind you that our allies include ferv...,I would like to remind you that among our alli...,4.25
3,The vote will take place today at 5.30 p.m.,The vote will take place at 5.30pm,4.50
4,"The fishermen are inactive, tired and disappoi...","The fishermen are inactive, tired and disappoi...",5.00

## TODO
1. Compute the Jaccard similarity between every paraphrase and add a column *jaccard* to *dt* variable.
2. Compute the pearson correlation as: <br>
```
from scipy.stats import pearsonr
pearsonr(dt['gs'], dt['jaccard'])[0]
```

In [1]:
from nltk.metrics import jaccard_distance
import nltk
nltk.download('punkt')
from scipy.stats import pearsonr
import numpy as np
jaccard_distance(set(['The','eats','fish','.']),
                 set(['The','eats','blue','fish','.']))

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\mario\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

0.2

In [12]:
def compute_metric(metric, elements): # Fenction to calculate Jaccard Distance
  if metric == 'jaccard':
      res = jaccard_distance(set(nltk.word_tokenize(elements[0])),
                             set(nltk.word_tokenize(elements[1])))
  return res

In [13]:
dt['jaccard'] = ""

In [14]:
dt

,0,1,gs,jaccard
0,The leaders have now been given a new chance a...,The leaders benefit aujourd' hui of a new luck...,4.500,
1,Amendment No 7 proposes certain changes in the...,Amendment No 7 is proposing certain changes in...,5.000,
2,Let me remind you that our allies include ferv...,I would like to remind you that among our alli...,4.250,
3,The vote will take place today at 5.30 p.m.,The vote will take place at 5.30pm,4.500,
4,"The fishermen are inactive, tired and disappoi...","The fishermen are inactive, tired and disappoi...",5.000,
...,...,...,...,...
454,It is our job to continue to support Latvia wi...,It is of our duty of continue to support the c...,5.000,
455,The vote will take place today at 5.30 p.m.,Vote will take place at 17 h 30.,4.750,
456,Neither was there a qualified majority within ...,There was no qualified majority in this Parlia...,5.000,
457,Let me remind you that our allies include ferv...,"I hold you recall that our allies, there are e...",4.000,
458,We often pontificate here about being the repr...,We often take pride here to represent the citi...,3.833,

In [15]:
for i in range(len(dt)): # Iterating to get Jaccard distances over each column of the dataframe
  dt.iloc[i, 3] = np.float64(compute_metric('jaccard',[dt.iloc[i][0],dt.iloc[i][1]]))*10

In [16]:
dt[0]

0      The leaders have now been given a new chance a...
1      Amendment No 7 proposes certain changes in the...
2      Let me remind you that our allies include ferv...
3            The vote will take place today at 5.30 p.m.
4      The fishermen are inactive, tired and disappoi...
                             ...
454    It is our job to continue to support Latvia wi...
455          The vote will take place today at 5.30 p.m.
456    Neither was there a qualified majority within ...
457    Let me remind you that our allies include ferv...
458    We often pontificate here about being the repr...
Name: 0, Length: 459, dtype: object

In [17]:
dt

,0,1,gs,jaccard
0,The leaders have now been given a new chance a...,The leaders benefit aujourd' hui of a new luck...,4.500,6.538462
1,Amendment No 7 proposes certain changes in the...,Amendment No 7 is proposing certain changes in...,5.000,2.142857
2,Let me remind you that our allies include ferv...,I would like to remind you that among our alli...,4.250,6.086957
3,The vote will take place today at 5.30 p.m.,The vote will take place at 5.30pm,4.500,4.545455
4,"The fishermen are inactive, tired and disappoi...","The fishermen are inactive, tired and disappoi...",5.000,0.0
...,...,...,...,...
454,It is our job to continue to support Latvia wi...,It is of our duty of continue to support the c...,5.000,4.5
455,The vote will take place today at 5.30 p.m.,Vote will take place at 17 h 30.,4.750,6.428571
456,Neither was there a qualified majority within ...,There was no qualified majority in this Parlia...,5.000,6.0
457,Let me remind you that our allies include ferv...,"I hold you recall that our allies, there are e...",4.000,6.818182
458,We often pontificate here about being the repr...,We often take pride here to represent the citi...,3.833,5.0

In [18]:
pearsonr(dt['gs'], 1-dt['jaccard']) # Calculating the pearson correlation between GS results and 1-Jaccard calculated dats

PearsonRResult(statistic=0.45049771693186835, pvalue=2.5356459143049236e-24)

# Conclusion

By performing this practice it is possible to observe the metrics useful to compare the similarity between text blocks. To obtain good results it is necessary to isolate the text in simpler parts by using a tokenization method, the precision of this part of the process is fundamental to obtain divisions that preserve the sense in each of the compared texts. Once tokenization has been applied, it is possible to use Jaccard's distance to compare the similarity between the blocks of text obtained, although it is not the only one, since other distance metrics can be used to evaluate the relationship between the sentences being compared. Finally, it is possible to use Pearson's correlation as a global metric that evaluates the performance of the algorithm to complete the task. In this exercise, the Pearson correlation was 0.4504, which indicates an acceptable result, although it could still be improved by applying more complex strategies.

In [101]:
jaccard_distance(set('hola'), set('hola'))

0.0

In [3]:
r1 = set(nltk.word_tokenize('hola Que onda amigo'))
r2 = set(nltk.word_tokenize('hola que haces amigo'))
print('Union: {}, Intersection: {}'.format(r1.union(r2), r1.intersection(r2)))
(len(r1.union(r2)) - len(r1.intersection(r2)))/len(r1.union(r2)), jaccard_distance(r1,r2)

Union: {'haces', 'onda', 'Que', 'hola', 'que', 'amigo'}, Intersection: {'amigo', 'hola'}

(0.6666666666666666, 0.6666666666666666)

In [134]:
r1.union(r2)

{'Que', 'haces', 'hola', 'onda', 'que'}

In [26]:
dt['gs'][:10], 5-dt['jaccard'][:10]/2

(0    4.500
 1    5.000
 2    4.250
 3    4.500
 4    5.000
 5    5.000
 6    4.667
 7    5.000
 8    5.000
 9    5.000
 Name: gs, dtype: float64,
 0    1.730769
 1    3.928571
 2    1.956522
 3    2.727273
 4         5.0
 5    1.666667
 6    1.666667
 7         4.0
 8    1.304348
 9    3.181818
 Name: jaccard, dtype: object)

In [32]:
pearsonr(dt['gs'][:-1]/37+4, dt['gs'][:-1]*58+8)

PearsonRResult(statistic=1.0, pvalue=0.0)

In [34]:
pearsonr(dt['gs'][:10], (dt['jaccard'][:10]))

PearsonRResult(statistic=-0.4326087969579892, pvalue=0.21177345449451554)

In [212]:
n = 8
p1,p2 = dt['gs'][:n].values, 1-dt['jaccard'][:n].values
mp1,mp2 = p1.mean(),p2.mean()
num = sum([(p1[i]-mp1)*(p2[i]-mp2) for i in range(n)])
denom = np.sqrt(sum([((p1[i]-mp1)**2) for i in range(n)])) * np.sqrt(sum([((p2[i]-mp2)**2) for i in range(n)]))
num/denom, pearsonr(dt['gs'][:n], 1-(dt['jaccard'][:n]))[0]

(0.6013674462605708, 0.6013674462605706)