# Lab session 2 (Document structure) - ILTH

**Student:** Mario Rosas Otero

## Paraphrases Template

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# importing the "tarfile" module
import tarfile

# open file
file = tarfile.open('/content/drive/MyDrive/IHLT/Complementary Material/test-gold.tgz')

# extracting file
file.extractall('/content/drive/MyDrive/IHLT/Complementary Material/')

file.close()

In [3]:
import pandas as pd

In [4]:
dt = pd.read_csv('/content/drive/My Drive/IHLT/Complementary Material/test-gold/STS.input.SMTeuroparl.txt',sep='\t',header=None)

In [5]:
dt.head()

,0,1
0,The leaders have now been given a new chance a...,The leaders benefit aujourd' hui of a new luck...
1,Amendment No 7 proposes certain changes in the...,Amendment No 7 is proposing certain changes in...
2,Let me remind you that our allies include ferv...,I would like to remind you that among our alli...
3,The vote will take place today at 5.30 p.m.,The vote will take place at 5.30pm
4,"The fishermen are inactive, tired and disappoi...","The fishermen are inactive, tired and disappoi..."

In [6]:
dt['gs'] = pd.read_csv('/content/drive/My Drive/IHLT/Complementary Material/test-gold/STS.gs.SMTeuroparl.txt',sep='\t',header=None)

In [7]:
dt.shape

(459, 3)

In [8]:
dt.head()

,0,1,gs
0,The leaders have now been given a new chance a...,The leaders benefit aujourd' hui of a new luck...,4.50
1,Amendment No 7 proposes certain changes in the...,Amendment No 7 is proposing certain changes in...,5.00
2,Let me remind you that our allies include ferv...,I would like to remind you that among our alli...,4.25
3,The vote will take place today at 5.30 p.m.,The vote will take place at 5.30pm,4.50
4,"The fishermen are inactive, tired and disappoi...","The fishermen are inactive, tired and disappoi...",5.00

## TODO
1. Compute the Jaccard similarity between every paraphrase and add a column *jaccard* to *dt* variable.
2. Compute the pearson correlation as: <br>
```
from scipy.stats import pearsonr
pearsonr(dt['gs'], dt['jaccard'])[0]
```

In [9]:
from nltk.metrics import jaccard_distance
import nltk
nltk.download('punkt')
from scipy.stats import pearsonr
import numpy as np
jaccard_distance(set(['The','eats','fish','.']),
                 set(['The','eats','blue','fish','.']))

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

0.2

In [10]:
def compute_metric(metric, elements): # Fenction to calculate Jaccard Distance
  if metric == 'jaccard':
      res = jaccard_distance(set(nltk.word_tokenize(elements[0])),
                             set(nltk.word_tokenize(elements[1])))
  return res

In [11]:
dt['jaccard'] = ""

In [12]:
dt

,0,1,gs,jaccard
0,The leaders have now been given a new chance a...,The leaders benefit aujourd' hui of a new luck...,4.500,
1,Amendment No 7 proposes certain changes in the...,Amendment No 7 is proposing certain changes in...,5.000,
2,Let me remind you that our allies include ferv...,I would like to remind you that among our alli...,4.250,
3,The vote will take place today at 5.30 p.m.,The vote will take place at 5.30pm,4.500,
4,"The fishermen are inactive, tired and disappoi...","The fishermen are inactive, tired and disappoi...",5.000,
...,...,...,...,...
454,It is our job to continue to support Latvia wi...,It is of our duty of continue to support the c...,5.000,
455,The vote will take place today at 5.30 p.m.,Vote will take place at 17 h 30.,4.750,
456,Neither was there a qualified majority within ...,There was no qualified majority in this Parlia...,5.000,
457,Let me remind you that our allies include ferv...,"I hold you recall that our allies, there are e...",4.000,
458,We often pontificate here about being the repr...,We often take pride here to represent the citi...,3.833,

In [13]:
for i in range(len(dt)): # Iterating to get Jaccard distances over each column of the dataframe
  dt['jaccard'][i] = np.float64(compute_metric('jaccard',[dt.iloc[i][0],dt.iloc[i][1]]))*10

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [14]:
dt

,0,1,gs,jaccard
0,The leaders have now been given a new chance a...,The leaders benefit aujourd' hui of a new luck...,4.500,6.538462
1,Amendment No 7 proposes certain changes in the...,Amendment No 7 is proposing certain changes in...,5.000,2.142857
2,Let me remind you that our allies include ferv...,I would like to remind you that among our alli...,4.250,6.086957
3,The vote will take place today at 5.30 p.m.,The vote will take place at 5.30pm,4.500,4.545455
4,"The fishermen are inactive, tired and disappoi...","The fishermen are inactive, tired and disappoi...",5.000,0.0
...,...,...,...,...
454,It is our job to continue to support Latvia wi...,It is of our duty of continue to support the c...,5.000,4.5
455,The vote will take place today at 5.30 p.m.,Vote will take place at 17 h 30.,4.750,6.428571
456,Neither was there a qualified majority within ...,There was no qualified majority in this Parlia...,5.000,6.0
457,Let me remind you that our allies include ferv...,"I hold you recall that our allies, there are e...",4.000,6.818182
458,We often pontificate here about being the repr...,We often take pride here to represent the citi...,3.833,5.0

In [17]:
pearsonr(dt['gs'], 1-dt['jaccard']) # Calculating the pearson correlation between GS results and 1-Jaccard calculated dats

(0.4504977169318684, 2.5356459143047792e-24)

# Conclusion

By performing this practice it is possible to observe the metrics useful to compare the similarity between text blocks. To obtain good results it is necessary to isolate the text in simpler parts by using a tokenization method, the precision of this part of the process is fundamental to obtain divisions that preserve the sense in each of the compared texts. Once tokenization has been applied, it is possible to use Jaccard's distance to compare the similarity between the blocks of text obtained, although it is not the only one, since other distance metrics can be used to evaluate the relationship between the sentences being compared. Finally, it is possible to use Pearson's correlation as a global metric that evaluates the performance of the algorithm to complete the task. In this exercise, the Pearson correlation was 0.4504, which indicates an acceptable result, although it could still be improved by applying more complex strategies.